<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
    </head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        </style>
    <body>
        <table style="width:100%">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>City</th>
              <th>Country</th>
              <th>Phone Number</th>
            </tr>
            {%for user in data%}
               <tr>
                 <td>{{user[0]}}</td>
                 <td>{{user[1]}}</td>
                 <td>{{user[2]}}</td>
                 <td>{{user[3]}}</td>
                 <td>{{user[4]}}</td>
                </tr>
            {%endfor%}
          </table>          
    </body>
</html>
